<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>

    <%- include('partials/header') %>
    
    <main class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">Registro</div>
                    <div class="card-body">
                        <form action="/users/register" method="post">
                            <div class="mb-3"> 
                                <label for="exampleInputName" class="form-label">Nombre</label>
                                <input type="text" name="name" id="exampleInputName" class="form-control">
                                <s></s>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail">Email</label>
                                <input type="email" id="exampleInputEmail" name="email" class="form-control">
                                <s></s>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword" class="form-label">Contraseña</label>
                                <input type="password" name="pass" id="exampleInputPassword1" class="form-control">
                                <s></s>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword2" class="form-label">Confirmar Contraseña</label>
                                <input type="password" id="exampleInputPassword2" name="pass2" class="form-control">
                                <s></s>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" name="terms" id="exampleCheck1" class="form-check-input">
                                <label for="exampleCheck1" class="form-check-label" name="terms">Acepto términos y condiciones</label>
                                <span></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %> 
    
</body>
</html>